{# [module]/templates/vc-dashboards-block.html.twig #}
<div class="dashboard-block-img-wrap">
	<img alt="Image for {{ title }}" src="/{{ directory }}/dashboard-images/vc/{{image}}"/>
</div>
<h3>{{ title }}</h3>
<p>{{ description }}</p>
<div>
  {% if id == "dash_vc_vet_center_page" or id == "dash_vc_locations" %}
    <span class="dashboard-block-link dashboard-block-link-left">
      <a href="{{ path('entity.node.canonical', {'node': nid}) }}">View ›</a>
    </span>
    <span class="dashboard-block-link dashboard-block-link-right">
      <a href="/node/{{nid}}/edit">Edit ›</a>
    </span>
  {% else %}
    <span class="dashboard-block-link dashboard-block-link-right">
      <a href="/node/{{nid}}/edit/{{ anchor }}">{{ action }}
        ›</a>
    </span>
  {% endif %}
</div>
