{#
/**
 * @file
 * Common site alert component for sitewide messages. Most class names are updated to avoid styles
 * conflicting with those provided by the module. Some remain in order for functionality to work.
 *
 * variables:
 *  alert
 *    - message: string
 *    - id: int
 *    - severity: (string, low medium high)
 *    - label: string, alert label
 *    - dismissible: boolean
 */
#}

{% set site_alert_classes = [
  'va-site-alert',
  'js-site-alert',
  ('va-site-alert--' ~ alert.severity)|clean_class,
] %}

{# added attributes are necessary for dismissible behavior provided by module to work #}
<div{{ attributes.setAttribute('data-site-alert-id', alert.id)
  .setAttribute('data-site-alert-dismissible', alert.dismissible ? 'true' : 'false')
  .addClass(site_alert_classes)
}}>
  <div class="va-site-alert__icon">
    <i class="fas fa-xl {% if alert.severity is same as('low') %}fa-circle-info{% else %}fa-warning{% endif %}"></i>
  </div>

  <div class="va-site-alert__text">
    <h2>{{ alert.label }}</h2>

    {{ alert.message }}
  </div>

  {% if alert.dismissible %}
  {# Need value attribute and js-site-alert-dismiss class for dismissible behavior provided by module to work #}
    <button type="button" value="{{ alert.id }}" class="js-site-alert-dismiss site-alert__dismiss">
      <span class="site-alert__dismiss-icon" aria-hidden="true">&times;</span>
      <span class="visually-hidden">{{ 'Dismiss @label alert'|t({ '@label': alert.label }) }}</span>
    </button>
  {% endif %}
</div>
