<div id="form-builder-content-{{ page_id }}" class="form-builder-content form-builder-single-column-content form-builder-page-content form-builder-content--single-column-with-buttons">
  <h2 class="form-builder-page-title">{{ page_heading }}</h2>

  {% if block('main_content') is not empty %}
    <div class="form-builder-single-column-with-buttons__main-content">
      {% block main_content %}{% endblock %}
    </div>
  {% endif %}

  <section class="form-builder-button-group">
    {% if buttons.secondary is defined %}
      {% for secondary_button in buttons.secondary %}
        <a
          id="form-builder-secondary-button-{{loop.index}}"
          href="{{ secondary_button.url }}"
          role="button"
          class="form-builder-button form-builder-button--secondary"
        >
          {{ secondary_button.label }}
        </a>
      {% endfor %}
    {% endif %}
    {% if buttons.primary is defined %}
      <a
        id="form-builder-primary-button"
        href="{{ buttons.primary.url }}"
        role="button"
        class="form-builder-button form-builder-button--primary"
      >
        {{ buttons.primary.label }}
      </a>
    {% endif %}
  </section>
</div>
