{#
/**
 * @file
 * Common alert component for status messages.
 *
 * See variables in vagovclaro/templates/misc/status-messages.html.twig.
 *
 * @see claro_preprocess_status_messages().
 */
#}
{%
  set classes = [
  'messages-list__item',
  'messages',
  'messages--' ~ type,
  'va-alert'
]
%}
{% if type == 'status' %}
  {% set is_message_with_title = false %}
{% else %}
  {%
    set is_message_with_title = status_headings[type]
  %}
  {%
    set is_message_with_icon = type in ['error', 'status', 'warning']
  %}
{% endif %}

<div role="contentinfo" aria-labelledby="{{ title_ids[type] }}"{{ attributes.addClass(classes)|without('role', 'aria-label') }}>
  {% if type == 'error' %}
  <div role="alert">
    {% endif %}
    {% if is_message_with_title or is_message_with_icon %}
      <div class="messages__header">
        {% if is_message_with_title %}
          <h2 id="{{ title_ids[type] }}" class="messages__title">
            {{ status_headings[type] }}
          </h2>
        {% endif %}
      </div>
    {% endif %}
    <div class="messages__content">
      {% if messages|length > 1 %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>
    {% if type == 'error' %}
  </div>
  {% endif %}
</div>
