{#
/**
 * @file
 * Common alert component for status messages.
 */
#}
{%
  set classes = [
  'messages-list__item',
  'messages',
  'messages--' ~ type,
  'va-alert',
  hide_bg ? 'no-background' : ''
]
%}
{% if type == 'status' %}
  {% set is_message_with_title = false %}
  {% set alert_icon = 'check' %}
{% else %}
  {% set alert_icon = 'warning' %}
  {%
    set is_message_with_title = status_headings[type]
  %}
  {%
    set is_message_with_icon = type in ['error', 'status', 'warning']
  %}
{% endif %}


<div role="region" aria-label="Status message" {{ attributes.addClass(classes)|without('role', 'aria-label') }}>
  {% if type == 'error' %}
  {% set alert_icon = 'ban' %}
  <div role="alert">
  {% endif %}
    {% if is_message_with_title or is_message_with_icon %}
      <div class="messages__header">
        {% if is_message_with_title %}
          <h2 id="{{ title_ids[type] }}" class="messages__title">
            {{ status_headings[type] }}
          </h2>
        {% endif %}
      </div>
    {% endif %}
    <div class="messages__content">
      <i class="fas fa-{{ alert_icon }} fa-lg"></i>
      {% if messages|length > 1 %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>
  {% if type == 'error' %}
  </div>
  {% endif %}
</div>
