{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - title_element: Element to wrap the title.
 * - children: The children of the group.
 * - wrapper_element: The html element to use
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_html_element()
 *
 * @ingroup themeable
 */
#}

<div {{ attributes }}>
  {% if title %}
  <label {{ title_attributes.addClass('form-item__label') }}>{{ title }}</label>
  {% endif %}
  <div class="form-item__description">{{ element.inline_guidance_help_text['#value'] }}
  {% include '@components/inline-guidance/button.twig' with {
    "title": element.trigger_button_title['#value'],
    "classes": element.trigger_button_title_classes['#value'],
  } %}
  </div>
  {% include '@components/inline-guidance/text-box.twig' with {
    "content": element.inline_guidance['#value'].value,
    "classes": element.inline_guidance_classes['#value'],
  } %}
  {% if collapsible %}
  <div class="field-group-wrapper">
  {% endif %}
  {{children}}
  {% if collapsible %}
  </div>
  {% endif %}
</div>
