{#
/**
 * @file
 * Template for Form Builder form page: Form Info
 */
#}
<div id="form-builder-content-form-info" class="form-builder-content form-builder-single-column-content form-builder-form-content">
  <h2 class="form-builder-page-title">Name this form</h2>
  <section class="form-builder-content-section form-builder-content-section--form-name-number">
    {{ form.title }}
    {{ form.va_form_number }}
  </section>
  <section class="form-builder-content-section">
    <p>Provide the header that tells the user what the form will do, such as: <em>Register for this program...</em>, or <em>Provide your documentation</em>, etc.'),</p>

    {{ form.plain_language_title }}
  </section>
  <section class="form-builder-content-section form-builder-content-section--omb-info">
    <h3 class="form-builder-content-section__header form-builder-content-section--omb-info__header">OMB information</h3>
    {{ form.omb_number }}
    {{ form.respondent_burden }}
    {{ form.expiration_date }}
  </section>
  {{ form.actions }}

  {# render rest of form so it functions properly #}
  {{ form|without(
    'status_messages',
    'title',
    'va_form_number',
    'plain_language_title',
    'omb_number',
    'respondent_burden',
    'expiration_date',
    'actions'
  )}}
</div>
