{#
/**
 * @file
 * Template for Form Builder step page: Step Label
 */
#}
{% extends '@va_gov_form_builder/form/base/single-column-with-buttons.html.twig' %}

{% set page_id = 'step-style' %}
{% set page_heading = 'Determine style of step to be added' %}

{% block main_content %}
  <section class="form-builder-content-section form-builder-content-section--step-label">
    <div class="form-builder-step-label__label">
      <strong>{{ form.step_label.label }}</strong>
    </div>
    <div class="form-builder-step-label__edit-button">
      {{ form.step_label.edit_button }}
    </div>
  </section>
  <section class="form-builder-content-section form-builder-content-section--step-style">
    <p>
      Will this step have a single question, a series of questions, or a repeated set of questions?
    </p>
    <p>
      Single questions can be added one at a time if you have several questions which make sense
      together as a step.  An example of this might be a name or a location and a date.
    </p>
    <p>
      When the submitter may have multiple responses, it make sense to add a repeating set of questions.
      These are useful for sets of answers like: employment history, medical treatments, or several locations.
    </p>
    <details class="form-builder-content-section__details form-builder-content-section__details--single" open>
      <summary class="form-builder-content-section__details-summary">
        What is a single question example?
      </summary>
      <p>
        A single question has one answer to provide or choice to be made.
        <div class="form-builder-content-section__preview">
          {{ form.preview.single_question }}
        </div>
      </p>
    </details>
    <details class="form-builder-content-section__details form-builder-content-section__details--repeating">
      <summary class="form-builder-content-section__details-summary">
        What is an example of a repeated set of questions?
      </summary>
      <p>
        A repeating set of single responses may be about an event, time range, or services provided.
        <div class="form-builder-content-section__preview">
          {{ form.preview.repeating_set }}
        </div>
      </p>
    </details>
  </section>
{% endblock %}

{% block after_buttons %}
  {# render rest of form so it functions properly #}
  {{ form|without(
    'status_messages',
    'step_label',
    'preview',
    'actions',
  )}}
{% endblock %}
