{#
/**
 * This template is used when viewing Sitewide Alert messages.
 * Based on the template found in docroot/modules/contrib/sitewide_alert/templates/sitewide-alert.html.twig
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element. This should contain the `data-uuid` attribute needed for
 *   the loading to work.
 * - uuid: The UUID of the sitewide alert.
 * - is_dismissible: True if this alert is dismissable, false otherwise.
 * - style: The alert style.
 * - style_class: A style class derived from the style.
 * - sitewide_alert: The sitewide alert entity.
 *
 * @see template_preprocess_sitewide_alert()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'va-site-alert',
    'va-site-alert--' ~ style
  ]
%}

{% set icon = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>' %}
{% if style is same as('info')  %}
  {% set icon = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>' %}
{% endif %}

<div {{ attributes.addClass(classes) }}>
  <div class="layout-container">

    <span class="va-site-alert__icon status-icon">
      {{ icon|raw }}
    </span>

    <div class="va-site-alert__content">
      {% if title %}
        <h2>{{ title }}</h2>
      {% endif %}
      {% if message %}
        <span>{{ message }}</span>
      {% endif %}
    </div>

    {% if is_dismissible -%}
      {# The dismiss (close) button must have the class js-dismiss-button in order to work. #}
      <button class="va-site-alert__dismiss close js-dismiss-button" aria-label="{{ 'close'|t }}">
        <span aria-hidden="true">
          <svg class="dismissible-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/></svg>
        </span>
      </button>
    {%- endif %}
  </div>
</div>
