{#
/**
 * @file
 * VA.gov Form Builder's implementation of a single page.
 *
 * Nearly identical to VAgovClaro's implementation, except:
 * - An outermost page container has been added.
 * - The header includes additional content (navbar, eventually)
 * - Breadcrumbs have been removed
 *
 * For more information:
 * @see docroot/themes/custom/vagovclaro/templates/page/page.html.twig
 */
#}
<div class="va-gov-form-builder-page-container">
  <header class="content-header clearfix">
    <div class="layout-container">
      {{ page.header }}

      <div class="va-gov-form-builder-navbar">
        <!-- This is a placeholder for our navigation bar -->
      </div>
    </div>
  </header>

  <div class="layout-container">
    {{ page.pre_content }}

    <main class="page-content clearfix" role="main">
      <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
      {{ page.highlighted }}
      {% if page.help %}
      <div class="help">
        {{ page.help }}
      </div>
      {% endif %}
      {{ page.content }}
    </main>
  </div>
</div>
